<template>
    <div v-if="hasStatus" class="mb-4 font-medium text-sm text-green-600">
        {{ status }}
    </div>
</template>

<script>
    export default {
        computed: {
            status() {
                return this.$page.props.status
            },

            hasStatus() {
                return Boolean(this.status)
            },
        }
    }
</script>
