<template>
    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                <div class="p-6 bg-white border-b border-gray-200">
                    <breeze-status />
                    <tweet-form 
                        v-if="$page.props.auth.user"
                        v-model="createTweetForm"
                        save="true"
                    />
                    <tweet
                        v-for="post in posts.data" 
                        :key="post.id" 
                        :post="post"
                        @deletePost="openDeletePostModal(post)"
                        @editPost="openEditPostModal(post)"
                    />
                    <pagination class="flex justify-center" :links="posts.links" />
                </div>
            </div>
        </div>
    </div>
    <modal v-model="modal.open" cancel="Cancel" :accept="modal.accept" @accepted="accept">
        <tweet-form v-if="modal.action === 'editPost'" v-model="modal.form" :id="modal.post.id" />
        <p v-else-if="modal.action === 'deletePost'">
            Delete this post?
        </p>
        <!-- <div v-if="modelValue.isDirty">There are unsaved form changes.</div> -->
    </modal>
        
</template>

<script>
    import AppLayout from '@/Layouts/App'
    import Modal from '@/Components/Modal'
    import Tweet from '@/Components/Tweet'
    import BreezeStatus from '@/Components/Form/Status'
    import TweetForm from '@/Components/TweetForm'
    import Pagination from '@/Components/Pagination/Pagination'
    import { useForm } from '@inertiajs/inertia-vue3'

    export default {
        layout: AppLayout,

        components: {
            Modal,
            Tweet,
            BreezeStatus,
            TweetForm,
            Pagination,
        },

        props: ['posts'],
        
        data() {
            return {
                modal: {
                    open: false,
                    action: null,
                    post: null,
                    form: null,
                    accept: null,
                    onAccept: null,
                },
                createTweetForm: useForm('CreatePost', {
                    content: '',
                    is_public: false,
                }),
            }
        },
        
        methods: {
            openDeletePostModal(post) {
                this.modal.action = 'deletePost'
                this.modal.post = post
                this.modal.form = null
                this.modal.accept = 'Delete'
                this.modal.onAccept = this.deletePost
                this.modal.open = true
            },
            deletePost() {
                this.$inertia.delete(this.route('post.destroy', this.modal.post.id))
            },
            openEditPostModal(post) {
                this.modal.action = 'editPost'
                this.modal.post = post
                this.modal.form = useForm(`EditPost:${post.id}`, {
                    content: post.content,
                    is_public: post.is_public,
                })
                this.modal.accept = 'Edit'
                this.modal.onAccept = this.editPost
                this.modal.open = true
            },
            editPost() {
                this.modal.form.put(this.route('post.update', this.modal.post.id))
            },
            accept() {
                this.modal.onAccept()
                this.modal.open = false
            },
        }
    }
</script>
