<template>
    <img 
        class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
        :src="`https://randomuser.me/api/portraits/med/women/${userId}.jpg`"
        :alt="`profil photo of ${userName}`"
    />
</template>

<script>
export default {
    props: {
        userId: {
            type: Number,
            required: true,
        },
        userName: {
            type: String,
            required: true,
        },
    },
}
</script>