<template>
    <div class="bg-gray-100 rounded-xl p-0 m-3">
        <div class="flex justify-between mx-1">
            <div>
                <profile-avatar class="mt-1 mr-2" :userId="post.user.id" :userName="post.user.name"/>
                <span class="text-cyan-600 mt-1 ml-2">
                    {{ post.user.name }}
                </span>
            </div>
            <div>
                <template v-if="$page.props.auth.user && $page.props.auth.user.id === post.user.id">
                    <button type="button" @click="$emit('editPost')">
                        &#9998;
                    </button>
                    <button type="button" @click="$emit('deletePost')">
                        &#10005;
                    </button>
                </template>
            </div>
        </div>
        <div class="my-auto mx-1 w-full text-left">
            <blockquote>
                <p class="text-lg font-semibold" v-html="post.content"/>
            </blockquote>
        </div>
    </div>
</template>

<script>
    import ProfileAvatar from '@/Components/ProfileAvatar'

    export default {
        components: {
            ProfileAvatar,
        },
        
        props: ['post'],

        emits: ['deletePost', 'editPost'],
    }
</script>
