<template>
    <breeze-validation-errors class="mb-4" />
    <form @submit.prevent="submit">
        <div>
            <breeze-label for="tweet" value="Tweet" />
            <div class="mt-1">
                <breeze-textarea id="tweet" name="content" v-model="modelValue.content" rows="3" class="w-full" placeholder="Write your Tweet..." />
            </div>
        </div>

        <div class="flex items-start">
            <div class="flex items-center h-5">
                <breeze-checkbox :id="`is_public_${id}`" name="is_public" v-model:checked="modelValue.is_public" />
            </div>
            <div class="ml-3 text-sm">
                <breeze-label :for="`is_public_${id}`" value="Public" />
            </div>
        </div>

        <div v-if="save" class="px-4 py-3 text-right sm:px-6">
            <breeze-button :class="{ 'opacity-25': modelValue.processing }" :disabled="modelValue.processing">
                Send
            </breeze-button>
        </div>
    </form>
</template>

<script>
    import BreezeLabel from '@/Components/Label'
    import BreezeTextarea from '@/Components/Form/Textarea'
    import BreezeCheckbox from '@/Components/Form/Checkbox'
    import BreezeButton from '@/Components/Form/Button'
    import BreezeValidationErrors from '@/Components/Form/ValidationErrors'
    import BreezeStatus from '@/Components/Form/Status'

    export default {
        components: {
            BreezeLabel,
            BreezeTextarea,
            BreezeCheckbox,
            BreezeButton,
            BreezeValidationErrors,
            BreezeStatus,
        },

        props: ['modelValue', 'save', 'id'],

        emits: ['update:modelValue'],

        methods: {
            submit() {
                this.modelValue.post(this.route('post.store'), {
                    onSuccess: () => this.modelValue.reset(),
                })
            }
        }
    }
</script>