<template>
      <nav class="relative z-0 rounded-md shadow-sm -space-x-px" aria-label="Pagination">
        <template v-for="(link, key) in links" :key="key">
            <page-link 
                :href="link.url"
                :active="link.active"
            >
                <span v-html="link.label" />
            </page-link>
        </template>
      </nav>
</template>

<script>
    import PageLink from '@/Components/Pagination/PageLink'

    export default {
        components: {
            PageLink,
        },
        props: {
            links: Array,
        },
    }
</script>
